export PERIDIO_RELEASE_PRN="prn:1:2c56188f-c6d4-47b0-9aff-bf325e4ff3bd:release:522bdf59-8bbc-4970-a004-9bb2b4c94e13"
export PERIDIO_RELEASE_VERSION="1.0.1"
export PERIDIO_CERTIFICATE=$(base64 -w 0 /src/peridio/ssl/peridiod/end-entity-certificate.pem)
export PERIDIO_PRIVATE_KEY=$(base64 -w 0 /src/peridio/ssl/peridiod/end-entity-private-key.pem)
