Package: peridiod
Version: $PERIDIOD_VERSION
License: $PERIDIOD_LICENSE
Vendor: $PERIDIOD_VENDOR
Architecture: $PERIDIOD_ARCH
Maintainer: $PERIDIOD_MAINTAINER
Depends: libc6, libncurses5 | libncurses6, libssl1.1 | libssl3, zlib1g
Section: devel
Priority: optional
Homepage: $PERIDIOD_HOMEPAGE
Description: $PERIDIOD_DESCRIPTION
